<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.planetze">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanetZe"
        tools:targetApi="31">

        <!-- Declaration for NotificationService -->
        <service android:name=".NotificationService"
            android:enabled="true"
            android:exported="false" />

        <!-- Declaration for NotificationReceiver -->
        <receiver android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <!-- Launcher Activity -->
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->

        <activity
            android:name=".EcoAgent"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".HabitListActivity"
            android:exported="false" />
        <activity
            android:name=".EcoHubActivity"
            android:exported="false"/>
        <activity
            android:name=".AdoptedHabitsActivity" />
        <activity
            android:name=".EcoHabitActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
       <activity
            android:name=".tracker.TrackerActivity"
            android:exported="false" />
        <activity
            android:name=".EcoGaugeActivity"
            android:exported="true" />
        <activity
            android:name=".EcoBalanceActivity"
            android:exported="true" />
        <activity android:name=".PurchaseProjectActivity" />
        <activity
            android:name=".PurchaseConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".CarbonFootprintQuestionnaireActivity"
            android:exported="true" />
        <activity
            android:name=".QuestionnaireWelcomeActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>
